/* ------------------- COMMON ------------------- */
* {
    background-color: black;
    color: white;
}
li,
a {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

/* ------------------- HEADER ------------------- */
header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    border-bottom: 1px solid #888a8d;
}
ul {
    display: flex;
    gap: 15px;
    background-color: #1F2937;
    flex: 1 1 0;
    justify-content: center;
    margin-right: 7px;
}
li {
    border: 2px solid #E5E7EB;
    border-radius: 11px;
    padding: 9px 10px;
}
.logo {
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #1F2937;
    text-align: center;
    flex: 1 1 0;
    margin-left: 7px;
}

/* ------------------- !!!CONTENT SECTION STARTED!!! ------------------- */

/* ------------------- TOP SECTION ------------------- */
.top {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F2937;
}
h1#t-header,
p#t-header {
    background-color: #1F2937;
    padding: 0px;
    margin: 5px;
}
h1#t-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
p#t-header {
    font-size: 18px;
    color: #E5E7EB;
}
button#t-header {
    margin: 12px 4px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 800;
}
.m-img {
    border: 2px solid #E5E7EB;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
}
/* ------------------- ILLUSTRATION SECTION ------------------- */
.illu,
.illu-title,
.illu-box, 
.card,
p#card {
    background-color: #F9FAF8;
    color: #1F2937;
}
.illu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illu-title {
    font-size: 36px;
    font-weight: 900;
    margin: 30px 0px;
    text-align: center;
}
.illu-box {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
p#card {
    font-size: 20px;
    flex-grow: 0;
    font-weight: 400;
    text-decoration: underline;
}
img#card-img {
    width: 200px;
    height: 200px;
    border: 2px solid #1F2937;
    border-radius: 5px;
    padding: 1px;
}

/* ------------------- QUOTE SECTION ------------------- */
.quote,
p#quote,
p#author,
.proxy-box {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    display: flex;
    justify-content: center;
}
.proxy-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
p#quote {
    font-size: 42px;
    font-style: italic;
    margin: 25px 0px 10px 10px;
    padding: 0px 10px;
    align-self: flex-start;
    font-weight: 550;
}
p#author {
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    margin: 10px 55px 25px 0px;
}
/* ------------------- BOTTOM SECTION ------------------- */
.bot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}
.sign-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 65px 65px;
    border: 1px solid #3882F6;
    border-radius: 5px;
}
.box-text {
    background-color: #3882F6;
}
h2#bbox,
p#bbox {
    color: #E5E7EB;
    background-color: #3882F6;
    margin: 2px 0px;
}
h2#bbox {
    font-size: 20px;
}
p#bbox {
    font-size: 15px;
}
button#bbox {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
}

/* ------------------- !!!CONTENT SECTION ENDED!!! ------------------- */

/* ------------------- FOOTER ------------------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px;
    font-size: 11px;
}
.footer {
    background-color: #1F2937;
}